# Datasets & images
data/
yolo/
dataset.zip
*.zip

# Model weights
*.pt

# Training outputs
runs/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# OS / editor
.DS_Store
Thumbs.db
